<div id="titlebar"> <h2 align="center">Welcome to our site!</h2> </div>

<ul class="topnav">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#blog" (click)="clickBlog()">Blog</a></li>
  <li><a href="#packages">Packages</a></li>
  <li><a href="#contact">Contact</a></li>
  <li class="right"><a href="#about" (click)="clickAbout()">About</a></li>
</ul>

<div style="padding:0 16px;">
    
<h2>What is Topper Adda</h2>

Toppers Adda is the competition website which provides you sets of papers for different competitive
exams by which one can easily score good marks instead of going to other websites he/she must choose this as an advantage.
<h2>Why do we use it?</h2>

It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

<h2>Where does it come from?</h2>

It has been come from GLA UNIVERSITY MATHURA as final year guyz is developing it as they got to know that there are not such websites which provide these informations so they have developed.

The standard chunk of Toppers Adda has been developed by ISHU_MISHRA && Akshay Grover,Ishita Sharma,Sakshi Garg.

<h2>Where can I get some?</h2>

There are many variations of passages ofToppers Adda which you can see it right now!!

</div>
