<h2 align="center">Shared Comptetive Exams!!</h2>

<div id="packages">
<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#FF0000">Basic/Value</li>
    <li class="grey">$ 9.80 / set of paper</li>
	<li> $12.22/2nd time set of paper</li>
    <li>5 set of papers</li>
    <li>Rules And Regulations</li>
    <li>3 Domains/Types of Exams</li>
    <li>Unlimited exams you can take!!</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#4CAF50">Pro</li>
    <li class="grey">$ 22.22 / 5-set of paper</li>
	<li>Renewal price $120.11/5set of paer</li>
    <li>100% success</li>
    <li>Qualified Papers</li>
    <li>Quite Successfull careers</li>
    <li>Unlimited Set of exams</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" style="background-color:#0000FF">Premium</li>
    <li class="grey">$ 35.66 / 8 Set of papers</li>
	<li>$130.18/Set of papers</li>
    <li>100%Gurantee success</li>
    <li>Store your exams sheet</li>
    <li>Work hard</li>
    <li>Unlimited Papers</li>
    <li class="grey"><a href="#" class="button">Sign Up</a></li>
  </ul>
</div>